{
  "openapi": "3.0.3",
  "info": {
    "title": "Flint device pairing API",
    "version": "1.1.0",
    "description": "Encrypted VPN configuration handoff for Android, Android TV, Windows and iOS. No account session is transferred. Owner QR: HTTPS /connect/{id}#key=...; receiver QR: flint://pair?v=1&id=...#key=... . The production server has not been changed by this package."
  },
  "servers": [
    {
      "url": "https://flintmain.ru"
    }
  ],
  "paths": {
    "/api/v1/devices/pairing/start": {
      "post": {
        "operationId": "TvPairingStart",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Start"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "QR created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Started"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid login or TV proof",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Subscription is not owned or not active",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "QR already approved or not ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "QR expired, cancelled or acknowledged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; respect Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/pairing/inspect": {
      "post": {
        "operationId": "TvPairingInspect",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Inspect"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "TV metadata, account authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inspected"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid login or TV proof",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Subscription is not owned or not active",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "QR already approved or not ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "QR expired, cancelled or acknowledged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; respect Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/pairing/approve": {
      "post": {
        "operationId": "TvPairingApprove",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Approve"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmed or exact idempotent replay"
          },
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid login or TV proof",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Subscription is not owned or not active",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "QR already approved or not ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "QR expired, cancelled or acknowledged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; respect Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/pairing/complete": {
      "post": {
        "operationId": "TvPairingComplete",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Proof"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Redeliver until ACK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Completed"
                }
              }
            }
          },
          "202": {
            "description": "Waiting, poll after 2 seconds"
          },
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid login or TV proof",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Subscription is not owned or not active",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "QR already approved or not ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "QR expired, cancelled or acknowledged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; respect Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/pairing/ack": {
      "post": {
        "operationId": "TvPairingAck",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Proof"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Delivered settings cleared; idempotent"
          },
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid login or TV proof",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Subscription is not owned or not active",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "QR already approved or not ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "QR expired, cancelled or acknowledged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; respect Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/pairing/cancel": {
      "post": {
        "operationId": "TvPairingCancel",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Proof"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "QR cancelled; ciphertext cleared"
          },
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid login or TV proof",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Subscription is not owned or not active",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "QR already approved or not ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "QR expired, cancelled or acknowledged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; respect Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/pairing/capabilities": {
      "get": {
        "operationId": "TvPairingCapabilities",
        "security": [],
        "responses": {
          "200": {
            "description": "enabled:boolean and version:1"
          }
        }
      }
    },
    "/api/v1/devices/pairing/share/start": {
      "post": {
        "operationId": "DevicePairingShareStart",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShareStart"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid login or TV proof",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Subscription is not owned or not active",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "QR already approved or not ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "QR expired, cancelled or acknowledged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; respect Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareStarted"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/pairing/share/claim": {
      "post": {
        "operationId": "DevicePairingShareClaim",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShareClaim"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid login or TV proof",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Subscription is not owned or not active",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "QR already approved or not ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "QR expired, cancelled or acknowledged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; respect Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Completed"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/devices/pairing/share/cancel": {
      "post": {
        "operationId": "DevicePairingShareCancel",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Inspect"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid login or TV proof",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Subscription is not owned or not active",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "QR already approved or not ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "QR expired, cancelled or acknowledged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; respect Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/devices/pairing/distribution": {
      "get": {
        "operationId": "DevicePairingDistribution",
        "security": [],
        "responses": {
          "200": {
            "description": "Public installation links",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "androidUrl": {
                      "type": "string"
                    },
                    "iosUrl": {
                      "type": "string"
                    },
                    "windowsUrl": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "androidUrl",
                    "iosUrl",
                    "windowsUrl"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/connect/{pairingId}": {
      "get": {
        "operationId": "DevicePairingInstallPage",
        "security": [],
        "parameters": [
          {
            "name": "pairingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{43}$"
            }
          }
        ],
        "description": "Public HTML. Encryption key exists only in URL fragment #key=... and must never be sent to the server. User explicitly installs the app, then returns and opens Flint or rescans.",
        "responses": {
          "200": {
            "description": "Installation page"
          },
          "404": {
            "description": "Invalid identifier"
          }
        }
      }
    },
    "/api/v1/devices/pairing/download/android": {
      "get": {
        "operationId": "DownloadFlintAndroid",
        "security": [],
        "responses": {
          "200": {
            "description": "Public configured software download",
            "content": {
              "application/vnd.android.package-archive": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "206": {
            "description": "HTTP byte range"
          },
          "404": {
            "description": "Distribution file is not configured"
          }
        }
      }
    },
    "/api/v1/devices/pairing/download/windows": {
      "get": {
        "operationId": "DownloadFlintWindows",
        "security": [],
        "responses": {
          "200": {
            "description": "Public configured software download",
            "content": {
              "application/vnd.microsoft.portable-executable": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "206": {
            "description": "HTTP byte range"
          },
          "404": {
            "description": "Distribution file is not configured"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Device": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "deviceId": {
            "type": "string",
            "maxLength": 128
          },
          "platform": {
            "type": "string",
            "enum": [
              "android",
              "android-tv",
              "windows",
              "ios"
            ]
          },
          "model": {
            "type": "string",
            "maxLength": 120
          },
          "osVersion": {
            "type": "string",
            "maxLength": 40
          },
          "appVersion": {
            "type": "string",
            "maxLength": 32
          }
        },
        "required": [
          "deviceId",
          "platform",
          "model"
        ]
      },
      "Envelope": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "version": {
            "type": "integer",
            "enum": [
              1
            ]
          },
          "nonce": {
            "type": "string",
            "description": "base64url, no padding; 12 bytes"
          },
          "ciphertext": {
            "type": "string",
            "maxLength": 699076,
            "description": "base64url AES-256-GCM ciphertext including 16-byte tag"
          }
        },
        "required": [
          "version",
          "nonce",
          "ciphertext"
        ]
      },
      "Start": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "codeChallenge": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{43}$",
            "description": "base64url(SHA256(ASCII codeVerifier))"
          },
          "device": {
            "$ref": "#/components/schemas/Device"
          }
        },
        "required": [
          "codeChallenge",
          "device"
        ]
      },
      "Started": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "pairingId": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{43}$"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresInSeconds": {
            "type": "integer",
            "enum": [
              300
            ]
          },
          "intervalSeconds": {
            "type": "integer",
            "enum": [
              2
            ]
          }
        },
        "required": [
          "pairingId",
          "expiresAt",
          "expiresInSeconds",
          "intervalSeconds"
        ]
      },
      "Inspect": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "pairingId": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{43}$"
          }
        },
        "required": [
          "pairingId"
        ]
      },
      "Inspected": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "device": {
            "$ref": "#/components/schemas/Device"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "device",
          "expiresAt"
        ]
      },
      "Approve": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "pairingId": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{43}$"
          },
          "subscriptionId": {
            "type": "string",
            "maxLength": 128
          },
          "requestId": {
            "type": "string",
            "description": "Same UUID on retry"
          },
          "encryptedSettings": {
            "$ref": "#/components/schemas/Envelope"
          }
        },
        "required": [
          "pairingId",
          "subscriptionId",
          "requestId",
          "encryptedSettings"
        ]
      },
      "Proof": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "pairingId": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{43}$"
          },
          "codeVerifier": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{43}$"
          }
        },
        "required": [
          "pairingId",
          "codeVerifier"
        ]
      },
      "Completed": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "encryptedSettings": {
            "$ref": "#/components/schemas/Envelope"
          }
        },
        "required": [
          "encryptedSettings"
        ]
      },
      "Error": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "code": {
            "type": "string"
          }
        },
        "required": [
          "code"
        ]
      },
      "ShareStart": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "subscriptionId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "requestId": {
            "type": "string",
            "format": "uuid"
          },
          "claimChallenge": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{43}$"
          }
        },
        "required": [
          "subscriptionId",
          "requestId",
          "claimChallenge"
        ]
      },
      "ShareStarted": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "pairingId": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{43}$"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresInSeconds": {
            "type": "integer",
            "maximum": 900
          }
        },
        "required": [
          "pairingId",
          "expiresAt",
          "expiresInSeconds"
        ]
      },
      "ShareClaim": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "pairingId": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{43}$"
          },
          "claimSecret": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{43}$"
          },
          "codeChallenge": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{43}$"
          },
          "device": {
            "$ref": "#/components/schemas/Device"
          }
        },
        "required": [
          "pairingId",
          "claimSecret",
          "codeChallenge",
          "device"
        ]
      }
    }
  }
}
